@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

:root {
    --soybean: #D7C49EFF;
    --eclipse: #343148FF;
    --border-radius: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    background-color: var(--soybean);
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
header {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    color: var(--soybean);
    background-color: var(--eclipse);
}

header .logo-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

header .logo-container img {
    width: 4rem;
}

header ul {
    list-style: none;
    display: flex;
    column-gap: 3rem;
    font-size: 1.5rem;
}

header ul li:hover {
    text-decoration: underline;
}

/* Main */
main {
    color: var(--eclipse);
}

/* Home */
main .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .home img {
    width: 40rem;
    position: absolute;
    opacity: 0.1;
}

/* Menu */
main .menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

main .menu .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

main .menu .container .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

main .menu .grid .item img {
    width: 100%;
    border-radius: var(--border-radius);
}

.line {
    width: 80%;
    border: 1px solid var(--eclipse);
}

/* Footer */
footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--soybean);
    background-color: var(--eclipse);
}